@model List<Zapatilla>

<h1>Insertar nuevas imágenes:</h1>

<button id="nuevoinput" class="btn btn-info">Añadir caja</button>
<br /><br />

<form method="post" id="imageForm">
    
    <button class="btn btn-success">Insertar Imagenes!</button>
    <br />
    <label>Seleccione la zapatilla</label>
    <select name="idzapa" class="form-control">
        @foreach (Zapatilla zapa in Model)
        {
            <option value="@zapa.IdZapatilla">
                @zapa.Nombre
            </option>
        }
    </select>
    <br />

    <div id="inputsContainer">
        <label>Imagenes</label>
        <input type="text" name="imagen" class="form-control" />
    </div>
</form>

@section Scripts {
    <script>
        var contadorInputs = 1;

        function agregarNuevoInput() {
            contadorInputs++;
            var nuevoInput = document.createElement('input');
            nuevoInput.type = 'text'; 
            nuevoInput.name = 'imagen' + contadorInputs; 
            nuevoInput.className = 'form-control'; 
            document.getElementById('inputsContainer').appendChild(nuevoInput); 
        }

        document.getElementById('nuevoinput').addEventListener('click', function () {
            agregarNuevoInput();
        });
    </script>
}
@*
FORMULARIO NORMAL
<form method="post">
    <br />
    <button class="btn btn-success">Insertar Imagenes!</button>

    <label>Seleccione la zapatilla</label>
    <select name="idzapa" class="form-control">
        @foreach (Zapatilla zapa in Model)
        {
            <option value="@zapa.IdZapatilla">
                @zapa.Nombre
            </option>
        }
    </select>
    <br />

    <label>Imagen 1</label>
    <input type="text" name="imagen" class="form-control" />


</form>*@